# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Flask stuff
instance/
*.sqlite3

# System files
.DS_Store
Thumbs.db

